[submodule "deps/thirdparty/glfw"]
	path = deps/thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/thirdparty/imgui"]
	path = deps/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/thirdparty/vulkan-headers"]
	path = deps/thirdparty/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
